@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Russo+One&family=Silkscreen:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    /* background-color: black; */
    font-family: 'EB Garamond','sans-serif';
    background-image: url('../assets/CET.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: rgb(45, 112, 170); */
}
.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:10px;
    
    /* background-color: #F2F2F2; */
}
.loginCard{
    display: flex;
    flex-direction: column;
    height:70vh;
    width:400px;
    padding:20px;   
    /* background-color:white  ; */
    justify-content: center;
    align-items:center;
    border-radius: 5%;
    
/*      */
    background-color: #a6c0d676;
    /* background-color: #CA38F2; */
}
.Heading 
{   
    height:5vh;
    font-size: 40px;
    padding:20px;
    padding-top: 20px;
    /* Rectangle 3 */
    color:black;
    background-color: linear-gradient(180deg, rgba(0, 32, 146, 0.56) 33.4%, rgba(225, 5, 5, 0.56) 100%);

}
.login{
    display:flex;
    height:60vh;
    margin:20px;
    /* background-color: yellow; */
    padding:10px;
    width:250px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* .login-input{
    border-radius: 20px;
} */
input{
    border-radius: 26px;
    height: 7vh;  
    padding:2px;    
    font-size: 23px;
    width:250px;
    font-family: 'EB Garamond','sans-serif';
}
.loginBtn{
    width:200px;
    height:6vh; 
    border-radius:20px; 
    font-size: 25px; 
    font-family: 'EB Garamond','sans-serif';
    cursor: pointer;
    border-width: 5px;

}
.loginBtn:hover{
    /* background-color: black;
    color: linear-gradient(180deg, rgba(0, 32, 146, 0.56) 33.4%, rgba(225, 5, 5, 0.56) 100%); */
    background: black;
color:white;
border-color:white;
}
.headRow
{
    margin-bottom: 20px;
}